#intro {
  background-image: url("../images/emptybar.jpg");
  height: 100vh;
}
#outro {
  background-image: url("../images/hennessy.jpg");
  height: 100vh;
}
.navbar-collapse {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-nav:hover {
  color: blue;
  transform: translate(1.5);
}

/* Height for devices larger than 576px */
@media (max-width: 992px) {
  .navbar-collapse{
      background-color: rgb(0 0 0 / 80%);          
  }
  /* #intro {
    margin-top: -58.59px;
  } */
}

.navbar .nav-link {
  color: #fff !important;
}
